
#a{
    
    border: 2px solid green;
    padding: 10px;
    margin-bottom: 10px;
}
#b{

    border: 2px solid green;
    padding: 10px;
    margin-bottom: 0px;
    }
#c{

    border: 2px solid green;
    padding: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 10px;
}
 