<h1>ISS Location Tracker</h1>

<ul>
  <li><strong>Name:</strong> <%= result.name %></li>
  <li><strong>Latitude:</strong> <%= result.latitude %></li>
  <li><strong>Longitude:</strong> <%= result.longitude %></li>
  <li><strong>Velocity:</strong> <%= result.velocity %> km/h</li>
</ul>
