#home{
    background-image: url(Home.jpg);
    background-repeat: no-repeat;
background-position: center;  
  background-size:cover;
  background-attachment: scroll;}
#htu{
    background-image: url(Htu_Back.png);
    background-repeat: no-repeat;
background-position: center;  
  background-size:cover;
  background-attachment: scroll;
}